/* 
Stevens Default Red #9D1535
Stevens Hover Red #7e102a
Stevens Grey #BBBCBE
*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/ek4gzZ-GeXAPcSbHtCeQI_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

body {
	background-color: #FFFFFF;
	font-family: Roboto,Helvetica Neue,sans-serif;
}

form { 
	padding: 0px 12px 2px 24px; 
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
  width: 45% !important;
}

h1, h2, p {
	padding-left: 30px;
	font: Roboto;
}

h2 {
	font-size: 25px;
	font-weight: 300;
}

/* header picture codes */
#stev-header {
	background-image: url("/static/img/stevens_logo.gif");
	background-position: left top;
	background-repeat: no-repeat;
	height: 150px;
	width: 250px;
	background-size: 250px, 106px;
	background-color: #FFFFFF;
	padding-left: 5px;
	color: #1a6ec5;
	font-size: 24px;
	font-weight: bold;
}

/* Toolbar Styling */
md-toolbar {
	background-color: #FFFFFF; 
	padding-left: 20px; 
	padding-top: 5px;
	height:150px
}

md-toolbar._md-toolbar-transitions, md-toolbar._md {
	background-color: #FFFFFF; 
}

/* Side bar navigation button codes */
md-sidenav {
	min-width: 370px;
}

md-content {
	background-color: #FFFFFF;
}

md-nav-bar {
	padding: 5px;
}

md-nav-bar span{
	color: #FFFFFF;
	text-transform: uppercase;
}

md-nav-bar .md-nav-bar {
	background-color: #9D1535;
}

md-nav-bar md-nav-ink{
	background-color: #7e102a;
}

md-nav-bar md-nav-ink-bar{
	background-color: #BBBCBE;
}

md-select {
	font-size: 14px;
	margin: 10px 0px 26px;
}

md-select .md-select-value {
	border-bottom-color: rgba(0, 0, 0, 0);
}

/* Schedule selector tab codes */
#stev-content-tab md-tabs {
  background-color: #9D1535;
}

#stev-content-tab span {
	color: #FFFFFF;
}

#stev-content-tab md-ink {
	background-color: #7e102a;
}

#stev-content-tab md-ink-bar {
	background-color: #BBBCBE;
}

/* Calendar codes */
#calendar {
	padding: 0;
	margin: 0;
}

#calendar .fc-view-container div table thead {
	color: #fff;
	background-color: #9D1535;
	border-color: #BBBCBE;
}

#calendar .fc-view-container div table thead th {
	border-color: #BBBCBE;
}

#calendar .fc-view-container div table tbody .fc-axis {
	color: #fff;
	background-color: #9D1535;
	border-color: #BBBCBE;
}

/* .fc-toolbar {
	display: none;
} */

/* Frequency Styling */


td {
	text-align: center;
	padding: 0px 30px 0px 30px;
}

table h1 {
	color: #9D1535;
	font-family: Roboto,Helvetica Neue,sans-serif;
	font-size: 1.5em;
	padding: 0px;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	background: none;
	text-indent: 0;
}

table p {
	color: #BBBCBE;
	font-family: Roboto,Helvetica Neue,sans-serif;
	font-size: 0.9em;
	padding: 0px;
	text-align: center;
	text-transform: uppercase;	
	margin-top: 0px;
	margin-bottom: 0px;
	text-indent: 0;
}

/* Form Styling */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

fieldset {
	width: 60%;
	margin-left: 30px;
}

legend {
	font-size: 25px;
}

.revbutton {
    width: 100%;
    background-color: #9D1535;
    color: #FFFFFF;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.revbutton:not([disabled]):hover {
    background-color: #7e102a;
}
