/* 
Stevens Default Red #9D1535
Stevens Hover Red #7e102a
Stevens Grey #BBBCBE
*/

body {
	background-color: #FFFFFF;
}

form { 
	padding: 0px 12px 2px 24px; 
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
  width: 45% !important;
}

/* header picture codes */
#stev-header {
	background-image: url("/static/img/stevens_logo.gif");
	background-position: left top;
	background-repeat: no-repeat;
	height: 150px;
	width: 250px;
	background-size: 250px, 106px;
	background-color: #FFFFFF;
	padding-left: 5px;
	color: #1a6ec5;
	font-size: 24px;
	font-weight: bold;
}

/* Toolbar Styling */
md-toolbar {
	background-color: #FFFFFF; 
	padding-left: 20px; 
	padding-top: 5px;
	height:150px
}

md-toolbar._md-toolbar-transitions, md-toolbar._md {
	background-color: #FFFFFF; 
}

/* Side bar navigation button codes */
md-nav-bar {
	margin: 10px 0px 26px;
}

md-nav-bar span{
	color: #FFFFFF;
	text-transform: uppercase;
}

md-nav-bar .md-nav-bar {
	background-color: #9D1535;
}

md-nav-bar md-nav-ink{
	background-color: #7e102a;
}

md-nav-bar md-nav-ink-bar{
	background-color: #BBBCBE;
}

md-select {
	font-size: 14px;
	margin: 10px 0px 26px;
}

md-select .md-select-value {
	border-bottom-color: rgba(0, 0, 0, 0);
}

/* Schedule selector tab codes */
#stev-content-tab md-tabs {
  background-color: #9D1535;
}

#stev-content-tab span {
	color: #FFFFFF;
}

#stev-content-tab md-ink {
	background-color: #7e102a;
}

#stev-content-tab md-ink-bar {
	background-color: #BBBCBE;
}

/* Calendar codes */
#calendar {
	padding: 0;
	margin: 0;
}

#calendar .fc-view-container div table thead {
	color: #fff;
	background-color: #9D1535;
	border-color: #BBBCBE;
}

#calendar .fc-view-container div table thead th {
	border-color: #BBBCBE;
}

#calendar .fc-view-container div table tbody .fc-axis {
	color: #fff;
	background-color: #9D1535;
	border-color: #BBBCBE;
}

/* .fc-toolbar {
	display: none;
} */
